*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
app/src/main/res/drawable-hdpi/dsdsds.png
app/src/main/res/drawable-ldpi/dsdsds.png
app/src/main/res/drawable-mdpi/dsdsds.png
app/src/main/res/drawable-xhdpi/dsdsds.png
app/src/main/res/drawable-xxhdpi/dsdsds.png
app/src/main/res/drawable-xxxhdpi/dsdsds.png
